{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    {{ encore_entry_link_tags('command') }}
{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="product-list col-sm-8">
                <h1>Les produits:</h1>
                {% if products is defined %}
                    <div class="product">
                        {{ form_start(formCommand) }}

                        {# store the prototype on the data-prototype attribute #}
                        <ul id="quantity-fields-list"
                            data-prototype="{{ form_widget(formCommand.quantity.vars.prototype)|e }}"
                            data-widget-tags="{{ '<div></div>'|e }}">
                            {% for commandField in formCommand.quantity %}
                                <li>
                                    {{ form_errors(commandField) }}
                                    {{ form_widget(commandField) }}
                                </li>
                            {% endfor %}
                        </ul>

                        {% for product in products %}
                            {% if product.getDesignation == 1 %}
                                <div class="row">
                                    <h2 class="col-sm-12 text-center">Les entrées:</h2>
                                    <p class="col-sm-7 order-1">{{ product.getName }}</p>
                                    <p class="col-sm-6 order-5">{{ product.getDescription }}</p>
                                    <p class="col-sm-1 order-2 price">{{ product.getPrice }} €</p>

                                    <div class="col-sm-2 order-3 add-another-collection-widget"
                                         data-widget-counter="{{ product.getId }}"
                                         data-list-selector="#quantity-fields-list">
                                    </div>

                                    <div class="text-center col-sm-2 order-4">
                                        <button name="{{ product.getId }}"
                                                class="button_add_product btn btn-danger">Ajouter</button>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}

                        {% for product in products %}
                            {% if product.getDesignation == 2 %}
                                <div class="row">
                                    <h2 class="col-sm-12 text-center">Les entrées:</h2>
                                    <p class="col-sm-7 order-1">{{ product.getName }}</p>
                                    <p class="col-sm-6 order-5">{{ product.getDescription }}</p>
                                    <p class="col-sm-1 order-2 price">{{ product.getPrice }} €</p>

                                    <div class="col-sm-2 order-3 add-another-collection-widget"
                                         data-widget-counter="{{ product.getId }}"
                                         data-list-selector="#quantity-fields-list">
                                    </div>

                                    <div class="text-center col-sm-2 order-4">
                                        <button name="{{ product.getId }}"
                                                class="button_add_product btn btn-danger">Ajouter</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}


                        {% for product in products %}
                            {% if product.getDesignation == 3 %}
                                <div class="row">
                                    <h2 class="col-sm-12 text-center">Les entrées:</h2>
                                    <p class="col-sm-7 order-1">{{ product.getName }}</p>
                                    <p class="col-sm-6 order-5">{{ product.getDescription }}</p>
                                    <p class="col-sm-1 order-2 price">{{ product.getPrice }} €</p>

                                    <div class="col-sm-2 order-3 add-another-collection-widget"
                                         data-widget-counter="{{ product.getId }}"
                                         data-list-selector="#quantity-fields-list">
                                    </div>

                                    <div class="text-center col-sm-2 order-4">
                                        <button name="{{ product.getId }}"
                                                class="button_add_product btn btn-danger">Ajouter</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {{ form_end(formCommand) }}
                    </div>

                {% else %}
                    <p>Désolé mais la liste n'a pas encore été faite.</p>
                {%  endif %}
            </div>

            <!-- panier part -->
            <div class="panier col-sm-4 bg-danger">
                <div class="row">
                    <h3 class="col-sm-12 text-center">Panier</h3>
                    <div class="col-sm-12 panier_description">
                        {% if panier is not null %}
                            {% for choice in panier %}
                            <div id="shopping_class_{{ choice.getProduct.getId }}" class="product_selected row col-sm-12">
                                <p class="col-sm-4">{{ choice.getProduct.getName }}</p>
                                <p class="col-sm-4">{{ choice.getProduct.getPrice * choice.getQuantity }}</p>
                                <button class="button_delete_shopping btn btn-warning col-sm-4"
                                        name={{ choice.getProduct.getId }}>
                                <i class="far fa-trash-alt"></i></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-sm-12 align-self-end">
                        <form method="post" action="{{ path('app_validate_shopping_card') }}">
                            <button type="submit" class="btn btn-danger">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('command') }}
{% endblock %}